IMAGE="bash /opt/brother/scanner/brscan-skey/script/scantopaperless.sh IMAGE"
OCR="bash /opt/brother/scanner/brscan-skey/script/scantopaperless.sh OCR"
EMAIL="bash /opt/brother/scanner/brscan-skey/script/scantopaperless.sh EMAIL"
FILE="bash /opt/brother/scanner/brscan-skey/script/scantopaperless.sh FILE"
SEMID=b
