[Unit]
Description=Brother Scan Key Service

[Service]
Type=forking
ExecStart=/usr/bin/brscan-skey
ExecStop=/usr/bin/brscan-skey -t
User=brscan-skey

[Install]
WantedBy=multi-user.target
