IMAGE="bash /opt/brother/scanner/brscan-skey/script/scanduplextopaperless.sh julius"
OCR="bash /opt/brother/scanner/brscan-skey/script/scanduplextopaperless.sh fabi"
EMAIL="bash /opt/brother/scanner/brscan-skey/script/scantopaperless.sh julius"
FILE="bash /opt/brother/scanner/brscan-skey/script/scantopaperless.sh fabi"
SEMID=b
